<!DOCTYPE html>
<html>
  <head>
    <title>StackOverload</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>";
      window.splashURL = "<%= image_url('splash.png') %>";
      window.iconURL = "<%= image_url('icon.png') %>";
    </script>

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
